<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b2b993971.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Craftsy</title>
</head>

<body>

    <header>
        <img class="logo" src="/images/logo.png" alt="">
        <nav class="nav-menu">
            <ul>
                <li><a href="">SMARTPHONES</a></li>
                <li><a href="">TABLETS</a></li>
                <li><a href="">COMPUTADORAS</a></li>
            </ul>
            <ul>
                <li><a href="">LOGIN</a></li>
                <li><a href="">REGISTRO</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="products">
            <ul class="list-products">
                <li>
                    <img src="/images/img-phone-01.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates iste, sapiente magni veritatis soluta architecto
                        eum cumque ut a porro libero minus. Dolores illo nisi
                        blanditiis alias repudiandae? Quisquam, incidunt.</p>
                    <button>VER MÁS</button>
                </li>
                <li>
                    <img src="/images/img-phone-02.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates iste, sapiente magni veritatis soluta architecto
                        eum cumque ut a porro libero minus. Dolores illo nisi
                        blanditiis alias repudiandae? Quisquam, incidunt.</p>
                    <button>VER MÁS</button>
                </li>
                <li>
                    <img src="/images/img-phone-03.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates iste, sapiente magni veritatis soluta architecto
                        eum cumque ut a porro libero minus. Dolores illo nisi
                        blanditiis alias repudiandae? Quisquam, incidunt.</p>
                    <button>VER MÁS</button>
                </li>
                <li>
                    <img src="/images/img-phone-01.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates iste, sapiente magni veritatis soluta architecto
                        eum cumque ut a porro libero minus. Dolores illo nisi
                        blanditiis alias repudiandae? Quisquam, incidunt.</p>
                    <button>VER MÁS</button>
                </li>
                <li>
                    <img src="/images/img-phone-02.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates iste, sapiente magni veritatis soluta architecto
                        eum cumque ut a porro libero minus. Dolores illo nisi
                        blanditiis alias repudiandae? Quisquam, incidunt.</p>
                    <button>VER MÁS</button>
                </li>
                <li>
                    <img src="/images/img-phone-03.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates iste, sapiente magni veritatis soluta architecto
                        eum cumque ut a porro libero minus. Dolores illo nisi
                        blanditiis alias repudiandae? Quisquam, incidunt.</p>
                    <button>VER MÁS</button>
                </li>
            </ul>
        </div>
        <section>
            <div class="tutorials">
                <h1>
                    Tutoriales
                </h1>
                <ul class="list-tutorials">
                    <li>
                        <img src="/images/aside-01.jpg" alt="">
                        <h3>Titulo del tutorial de repacion</h3>
                    </li>
                    <li>
                        <img src="/images/aside-02.jpg" alt="">
                        <h3>Titulo del tutorial de repacion</h3>
                    </li>
                    <li>
                        <img src="/images/aside-03.jpg" alt="">
                        <h3>Titulo del tutorial de repacion</h3>
                    </li>
                    <li>
                        <img src="/images/aside-04.jpg" alt="">
                        <h3>Titulo del tutorial de repacion</h3>
                    </li>
                </ul>
            </div>
            <div class="adver">
                <h1>Publicidad</h1>
                <ul class="list-adver">
                    <li>
                        <img src="/images/ad-01.jpg" alt="">
                    </li>
                    <li>
                        <img src="/images/ad-02.jpg" alt="">
                    </li>
                </ul>
            </div>
        </section>
    </main>

</body>

</html>